@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Siemens Volt</h1>
    <p>Webová aplikace napsaná v ASP.Net Core.</p>
    <p>Cílem je prezentace základních dovedností v jazyce C# a základů Javascriptu.</p>
</div>
