@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Siemens Volt</h1>
    <p>Webová aplikace napsaná v ASP.Net Core.</p>
    <p>Cílem je prezentace základních dovedností v jazyce C# a základů Javascriptu.</p>

    <p>Aplikace naběhne na veřejném View. Přejděte prosím k registraci, loginu a poté na stránky Audit a Odběr.</p>
    <p>Audit zobrazuje zalogovaná data z DB s možností detailu, filtrace, sortování a stránkování. Odběr nabízí generování hodnot pomocí JS skriptu.</p>

    <p><b>Použité technologie/přístupy k usnadnění implementace</b></p>
    <p>MVC pattern pro striktní oddělení aplikační logiky od prezentační vrstvy</p>
    <p>Entity Framework jako ORM pro jednodušší práci s DB</p>
    <p>Identity pro usnadnění práce se zabezpečením aplikace</p>
    <p>Boostrap pro responzivní design</p>
    <p>jQuery pro HTTP komunikaci z JS skriptu</p>
</div>
